@model E_Commerce.Model.SupplierandDeliveryManViewModel

@{
    ViewBag.Title = "GetSingleOrderDetails";
    Layout = "~/Views/DeliveryManDashBoard/DashBoard.cshtml";
}

<h2>GetSingleOrderDetails</h2>

