@model E_Commerce.Model.SupplierandDeliveryManViewModel

@{
    ViewBag.Title = "ViewAllCompleteAssignment";
    Layout = "~/Views/DeliveryManDashBoard/DashBoard.cshtml";
}

<h2>ViewAllCompleteAssignment</h2>

