@model E_Commerce.Model.SupplierandDeliveryManViewModel

@{
    ViewBag.Title = "ViewAssignmentAssginment";
    Layout = "~/Views/DeliveryManDashBoard/DashBoard.cshtml";
}

<h2>ViewAssignmentAssginment</h2>

