.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    width: 18%;
    /* height: 54%; */
    height: 216px;
    border-radius: 50%;
    color: white;
    font-size: 150px;
}
.check-mark
{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
}
.back-to-home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
p.circle-short-details {
    padding: 0% 32% 0% 32%;
    font-size: 25px;
    line-height: 30px;
}
.description-circule {
    text-align: center;
    padding-top: 2%;
}
button.back-to-home {
    padding: 2% 5% 2% 5%;
    border-radius: 24.5px;
    text-align: center;
    background: orange;
    color: white;
    border: 2px solid orange;
    font-size: 20px;
}
h5.circle-title {
    font-size: 30px;
    line-height: 35px;
}